.home-main-section {
  padding: 195px 205px 123px 156px;
  .first-section {
    display: flex;
    margin-left: 167px;
    .greeting-slogon {
      color: #fff;
      font-family: "Dongle", sans-serif;
      font-size: 82px;
      font-style: normal;
      font-weight: 400;
      line-height: 96px;
      margin-bottom: 27px;
      margin-top: 24px;
    }
    .greeting-content {
      color: #c4c4c4;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      line-height: 24.336px;
      margin-bottom: 41px;
      letter-spacing: 0.78px;
      width: 658px;
      height: 49px;
      flex-shrink: 0;
    }
    .home-man {
      margin-left: -40px;
      z-index: 1;
    }
    .question-mark {
      position: absolute;
      width: 700px;
      height: 700px;
      right: 51px;
      top: 60px;
      transition: all 0.3s ease 0s;
      animation: 5s ease 0s infinite normal none running spin;
    }
  }
  .second-section {
    display: flex;
    position: relative;
    margin-top: 167px;
    .home-woman {
      width: 597px;
    }
    .card-section {
      position: absolute;
      width: fit-content;
      left: 363px;
      top: -40px;
      .second-slogon {
        color: #fff;
        text-align: center;
        font-family: Dongle;
        font-size: 78px;
        font-style: normal;
        font-weight: 400;
        line-height: 96px;
        margin-bottom: 105px;
      }
      .icon-cards-container {
        display: flex;
        gap: 24px;
      }
    }
  }
}
